  <div class="row">
  <% @cocktails.each do |cocktail| %>
  <div class="column">
  <div class="card">
  <h2 class="name"> <%= cocktail.name %></h2>
  <%= link_to 'Details', cocktail_path(cocktail), class: 'detail-link' %>
  </div>
  </div>
  <% end %>
  </div>
