  <div class="row">
  <% @cocktails.each do |cocktail| %>
  <div class="column" >
  <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 300, width: 500, crop: :fill %>')">
  <h2 class="name"> <%= cocktail.name %></h2>
  <div class="links">
  <%= link_to 'Delete', cocktail_path(cocktail), method: :delete, data: { confirm: "Delete Cocktail"}, class: 'delete' %>
  <p class="content"> | </p>
  <%= link_to 'Details', cocktail_path(cocktail), class: 'detail-link' %>
  </div>
  </div>
  </div>
  <% end %>
  </div>
