.card {
  font-weight: bolder;
  color: rgb(173, 97, 175);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  height: 300px;
  border-radius: 5px;
}

.name {
  font-weight: bold;
}

a {
  color: rgb(173, 97, 175);
}

.links {
  display: flex;
  color: rgb(173, 97, 175);
  position: relative;
  bottom: -200px;
  left: 38%;
}